body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation */
nav {
    background-color: #1e3a8a;
    color: white;
    padding: 15px;
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

#home {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
    background-size: cover;
    background-position: center;
    color: white;
    height: 400px;
    padding: 100px 20px;

}


#services {
    background-color: #f2f2f2;
}

.service-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px;
    display: inline-block;
    width: 200px;
    background-color: white;
}

/* Form */
input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3b82f6;
}

/* Footer */
footer {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
}
